<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <div layout="row" layout-align="start center">
                <div layout="column" layout-align="start start">
                    <div class="subtitle secondary-text">
                        <span>Seller Settings </span>
                    </div>
                </div>
            </div>
        </div>

        <div>

        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>Profile</span>
                </md-tab-label>
                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form id="productForm" name="productForm">
                            <div layout="column" layout-gt-sm="row">
                                <md-input-container flex>
                                    <label>User name</label>
                                    <input type="text" ng-model="vm.user.userName" ng-disabled="true" required>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Role</label>
                                    <input type="text" ng-model="vm.user.userRole" ng-disabled="true" required>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Telephone</label>
                                    <input type="text" ng-model="vm.user.contactNumber" required>
                                </md-input-container>
                            </div>
                            <!-- <div layout="column" layout-gt-sm="row">
                                <md-input-container flex>
                                    <label>customer ID</label>
                                    <input type="text" ng-model="vm.user.customerID" ng-disabled="true" required>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>subcription</label>
                                    <input type="text" ng-model="vm.user.subcription" ng-disabled="true" required>
                                </md-input-container>
                            </div> -->
                            <div layout="column" layout-gt-sm="row">
                                <md-input-container flex>
                                    <label>Street No</label>
                                    <input type="text" ng-model="vm.user.StreetNo" required>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Street Name</label>
                                    <input type="text" ng-model="vm.user.StreetName" required>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Suburb</label>
                                    <input type="text" ng-model="vm.user.Suburb" required>
                                </md-input-container>
                            </div>
                            <div layout="column" layout-gt-xs="row">
                                <md-input-container flex>
                                    <label>State</label>
                                    <input type="text" ng-model="vm.user.State" required>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Country</label>
                                    <input type="text" ng-model="vm.user.Country" required>
                                </md-input-container>
                            </div>

                            <div layout="column" layout-gt-xs="row">
                                <md-button class="md-raised md-background" ng-click="vm.updateProfile()">
                                    <span>Update</span>
                                </md-button>
                            </div>
                        </form>

                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span>Payment Details</span>

                    <!-- <span ng-click="vm.getPaymentDetails()">Payment Details</span> -->
                </md-tab-label>
                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form id="productForm" name="productForm" stripe:form="stripeCallback">
                            <div layout="column" layout-gt-xs="row">
                                <md-input-container flex>
                                    <label>Card Number</label>
                                    <input ng-model="payment.card.number" placeholder="Card Number" payments-format="card" payments-validate="card" name="card"
                                        required/>
                                    <div ng-if="productForm.card.$invalid">
                                        Error: invalid card number!
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>expire </label>
                                    <input ng-model="expiry" name="expiry" payments-validate="expiry" payments-format="expiry" required/>
                                    <div ng-if="productForm.expiry.$invalid">
                                        Error: invalid card number!
                                    </div>
                                </md-input-container>


                                <md-input-container flex>
                                    <label>CVC</label>
                                    <input ng-model="payment.card.cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc" name="cvc" required/>
                                    <div ng-if="productForm.cvc.$invalid">
                                        Error: invalid card number!
                                    </div>
                                </md-input-container>

                            </div>
                            <md-button type="submit" class="md-raised md-background" ng-disabled="!vm.isFormValid('productForm')">
                                <span>Add </span>
                            </md-button>

                        </form>
                        <div ng-repeat="card in vm.sources">
                            <md-card md-theme="dark-purple" md-theme-watch>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">Card :
                                            <span class="md-subhead">**** **** **** </span>
                                            <span class="md-subhead">{{card.last4}}</span>
                                        </span>
                                        <span class="md-headline">Month :
                                            <span class="md-subhead">{{card.exp_month}}</span>
                                        </span>
                                        <span class="md-headline">Year :
                                            <span class="md-subhead">{{card.exp_year}}</span>
                                        </span>
                                    </md-card-title-text>
                                </md-card-title>
                                <md-card-actions layout="row" layout-align="end center" ng-click="vm.defult_scource_card(card.id)">
                                    <md-button>Use This</md-button>
                                </md-card-actions>
                            </md-card>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span>Stop Become a Seller</span>
                </md-tab-label>
                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <md-button class="md-raised md-background" ng-click="vm.stopbecomeseller()">
                            <span>Stop</span>
                        </md-button>
                    </div>
                </md-tab-body>
            </md-tab>

            <div ng-controller="UpdatePackage as vm">


                <md-tab>
                    <md-tab-label>
                        <span>Update Package</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                            <form id="productForm" name="productForm">
                                <div layout="column" layout-gt-xs="row">
                                    <md-input-container flex>
                                        <label>Select Package</label>
                                        <md-select ng-model="vm.formData.package" required>
                                            <md-option ng-repeat="role in vm.packages" ng-disabled="role.$id== vm.packageId" ng-value="role">
                                                {{role.CategoryDescription}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                </div>
                                <div layout="column" layout-gt-xs="row">
                                    <md-button class="md-raised md-background" ng-disabled="!productForm.$valid" ng-click="vm.updatePackage($event)">
                                        <span>Update Package </span>
                                    </md-button>
                                </div>
                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>


            </div>

        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>