<div layout="row" layout-wrap>

    <div class="about" layout="column">
        <div class="product-detail-form-container md-background-bg md-whiteframe-1dp" layout="column">

            <form id="productForm" name="productForm">

                <div layout="column" layout-gt-xs="row">
                    <md-input-container flex>
                        <label>Company Category</label>
                        <md-select ng-model="vm.sellerCompany.CompanyCategoryID" required>
                            <md-option ng-repeat="role in vm.companyCategories" ng-value="role.CompanyCategoryID">
                                {{role.CategoryName}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex>
                        <label>Name</label>
                        <input type="text" ng-model="vm.sellerCompany.Name" required>

                    </md-input-container>
                </div>
                <div layout="column" layout-gt-sm="row">
                    <md-input-container flex>
                        <label>Website</label>
                        <input type="text" ng-model="vm.sellerCompany.Website" required>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Email</label>
                        <input type="text" ng-model="vm.sellerCompany.Email" required>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Telephone</label>
                        <input type="text" ng-model="vm.sellerCompany.Telephone" required>
                    </md-input-container>
                </div>
                <div layout="column" layout-gt-xs="row">
                    <md-input-container flex>
                        <label>Description</label>
                        <input type="text" ng-model="vm.sellerCompany.Description" required>
                    </md-input-container>

                </div>
            </form>

        </div>



    </div>



</div>