<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <!--<md-button class="goto-products-button md-icon-button" aria-label="Go to products" ng-click="vm.gotoProducts()" translate
                translate-attr-aria-label="EC.GO_TO_PRODUCTS">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
                </md-button>-->

            <div layout="row" layout-align="start center">
                <!--<div class="product-image" hide-xs>
                        <img ng-src="{{vm.product.images[0].url}}">
                    </div>-->

                <div layout="column" layout-align="start start">
                    <!--<div class="h2">
                            {{vm.product.name}}
                        </div>-->
                    <div class="subtitle secondary-text">
                        <span>Become A Seller </span>
                    </div>
                </div>
            </div>
        </div>

        <!--<div>
            <md-button class="md-raised md-background" stripe-form="vm.stripeCallback" ng-disabled="!vm.isFormValid('productForm')">
                <span>Become seller</span>
            </md-button>
        </div>-->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>User Role</span>
                </md-tab-label>
                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <!-- <pre>{{vm.formData.package }}</pre> -->
                        <form id="productForm" name="productForm" stripe:form="stripeCallback">

                            <div layout="column" layout-gt-xs="row">
                                <md-input-container flex>
                                    <label>Select Package</label>
                                    <md-select ng-model="vm.formData.package" required>
                                        <md-option ng-repeat="role in vm.packages " ng-value="role">
                                            {{role.CategoryDescription}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <br>


                            <div layout="column" layout-gt-xs="row">
                                <md-input-container flex>
                                    <label>Card Number</label>
                                    <input ng-model="payment.card.number" placeholder="Card Number" payments-format="card" payments-validate="card" name="card"
                                        required/>
                                    <div ng-messages="productForm.card.$error" role="alert">
                                        <div ng-message="required">
                                            <span>card number is required</span>
                                        </div>
                                        <div ng-message="card">
                                            <span>Invalid card Number</span>
                                        </div>

                                    </div>
                                </md-input-container>

                                <md-input-container flex>
                                    <label>expire </label>
                                    <input ng-model="expiry" name="expiry" payments-validate="expiry" payments-format="expiry" required/>
                                    <div ng-messages="productForm.expiry.$error" role="alert">
                                        <div ng-message="required">
                                            <span>expire month / year  is required</span>
                                        </div>
                                        <div ng-message="expiry">
                                            <span>Invalid expiry date</span>
                                        </div>
                                    </div>
                                </md-input-container>

                                <md-input-container flex>
                                    <label>CVC</label>
                                    <input ng-model="payment.card.cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc" name="cvc" required/>
                                    <div ng-messages="productForm.cvc.$error" role="alert">
                                        <div ng-message="required">
                                            <span>cvc number is required</span>
                                        </div>
                                        <div ng-message="cvc">
                                            <span>Invalid cvc  Number</span>
                                        </div>

                                    </div>

                                </md-input-container>

                            </div>

                            <md-button type="submit" class="md-raised md-background" ng-disabled="!vm.isFormValid('productForm')">
                                <span>Become seller</span>
                            </md-button>

                        </form>
                    </div>
                </md-tab-body>
            </md-tab>

        </md-tabs>



    </div>
    <!-- / CONTENT -->

</div>