<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <div layout="row" layout-align="start center">
                <div layout="column" layout-align="start start">
                    <div class="subtitle secondary-text">
                        <span>Update Package </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">


        <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
            <div layout="column" layout-gt-xs="row">
                <div ng-repeat="role in vm.packages">
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{role.UserRole}}</span>
                                <span class="md-subhead"> {{role.CategoryDescription}}</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-sm card-media"></div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-disabled="role.$id==vm.packageId" ng-click="vm.updatePackage($event,role)">Subscribe( $ {{role.price}})</md-button>
                            <!--<md-button>Action 2</md-button>-->
                        </md-card-actions>
                    </md-card>

                </div>
            </div>

        </div>





    </div>
    <!-- / CONTENT -->

</div>