<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Go to products" ng-click="vm.gotoProductCategories()">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="row" layout-align="start center">
                <md-button class="edit-button md-icon-button" ng-show="the_url!='no'" ng-click="vm.removeImage()" aria-label="Product details"
                    translate>
                    <md-tooltip>Remove Image</md-tooltip>
                    <md-icon md-font-icon="icon-close" class="s24"></md-icon>
                </md-button>
                <div class="product-image" hide-xs ng-show="the_url">
                    <img ng-src="{{the_url}}">
                </div>
                <div class="product-image" hide-xs ng-hide="the_url">
                    <img ng-src="{{the_url1}}">
                </div>

                <div layout="column" layout-align="start start">
                    <div class="h2">
                        {{vm.formData.name}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Product</span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <md-button class="md-raised md-background" ng-click="vm.saveProduct()" ng-disabled="!vm.isFormValid('productForm')">
                <span>SAVE</span>
            </md-button>


        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>Product Category</span>
                </md-tab-label>
                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <div ng-show="rMaxProduct">
                            <h1>You have Reached Max Product Count Limit </h1>
                            <div>
                                <md-button class="md-raised md-background" ng-click="vm.chagePackage()">
                                    <span>Change Package</span>
                                </md-button>
                            </div>
                        </div>
                        <form id="productForm" name="productForm" ng-show="!rMaxProduct">
                            <div layout="column" layout-gt-xs="row">

                                <md-input-container flex>
                                    <label>Company</label>
                                    <md-select ng-model="vm.formData.companyId" name="companyId" required>
                                        <md-option ng-repeat="role in vm.companies track by $index" ng-value="role.$id">
                                            {{role.Name}}
                                        </md-option>
                                    </md-select>

                                    <div ng-messages="productForm.companyId.$error" role="alert">
                                        <div ng-message="required">
                                            <span>Company field is required</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Product Category</label>
                                    <md-select ng-model="vm.formData.productCategoryId" name="productCategoryId" required>
                                        <md-option ng-repeat="role in vm.prodcutCategories track by $index" ng-value="role.$id">
                                            {{role.CategoryDescription}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="productForm.productCategoryId.$error" role="alert">
                                        <div ng-message="required">
                                            <span>product Category field is required</span>
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="column" layout-gt-xs="row">
                                <md-input-container flex>
                                    <label>Name</label>
                                    <input type="text" ng-model="vm.formData.CategoryName" name="CategoryName" required>
                                    <div ng-messages="productForm.CategoryName.$error" role="alert">
                                        <div ng-message="required">
                                            <span>Category Name field is required</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Price</label>
                                    <input type="number" ng-model="vm.formData.price" name="price" required>

                                    <div ng-messages="productForm.price.$error" role="alert">
                                        <div ng-message="required">
                                            <span> price field is required</span>
                                        </div>
                                    </div>
                                </md-input-container>

                                <md-input-container flex>
                                    <label>Quantity</label>
                                    <input type="text" numbers-only ng-model="vm.formData.quantity" name="quantity" required>

                                    <div ng-messages="productForm.quantity.$error" role="alert">
                                        <div ng-message="required">
                                            <span> quantity field is required</span>
                                        </div>
                                    </div>
                                </md-input-container>

                            </div>

                            <div layout="column" layout-gt-xs="row">
                                <md-input-container flex>
                                    <label>Product Description</label>
                                    <input type="text" ng-model="vm.formData.CategoryDescription" name="CategoryDescription" required>
                                    <div ng-messages="productForm.CategoryDescription.$error" role="alert">
                                        <div ng-message="required">
                                            <span>Category Description field is required</span>
                                        </div>
                                    </div>
                                </md-input-container>

                            </div>

                            <div layout="column" layout-gt-xs="row">
                                <input type="file" file-model="myFile" filelist-bind name="file" required />
                                <div ng-messages="productForm.file.$error" role="alert">
                                    <div ng-message="required">
                                        <span>Image field is required</span>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </md-tab-body>
            </md-tab>


        </md-tabs>

    </div>
</div>