<div id="login-v2" layout="row" layout-align="start">
    <div id="login-v2-intro" flex hide show-gt-sm>
        <div class="logo md-accent-bg">
            <span>F</span>
        </div>
        <div class="title" translate="LOGIN_V2.INTRO_TITLE">
            Welcome to the FUSE!
        </div>
        <div class="description" translate="LOGIN_V2.INTRO_DESCRIPTION">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat, vel convallis elit fermentum pellentesque.
            Sed mollis velit facilisis facilisis viverra.
        </div>
    </div>

    <div id="login-v2-form-wrapper" class="flex-scrollable md-whiteframe-8dp" ms-scroll>
        <div id="login-v2-form">
            <div class="logo md-accent-bg" hide-gt-sm>
                <span>F</span>
            </div>

            <div class="title">Cancel Subsciption</div>
            <div class="description">You want to Cancel Subsciption ?</div>


            <div layout="column" layout-align="start center">
                <md-button class="md-raised google">
                    <div layout="row" layout-align="center center">
                        <span>
                            <md-icon class="s16"></md-icon>
                            <span ng-click="vm.cancel_subsciption()">Cancel Subsciption</span>
                        </span>
                    </div>
                </md-button>

                <md-button class="md-raised facebook">
                    <div layout="row" layout-align="center center">
                        <span>
                            <md-icon class="s16"></md-icon>
                            <span ng-click="vm.gotoLogin()">No</span>
                        </span>
                    </div>
                </md-button>
            </div>
        </div>
    </div>
</div>