/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

.product-image1 {
                            width: 52px;
                            max-width:52px;
                            max-height: 52px;
                            height: 52px;
                            border: 1px solid rgba(0, 0, 0, 0.12);
                        }

 .md-toast.error {
    background-color: red;
}

.md-toast.success {
    background-color: green;
}

