<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Go to products" ng-click="vm.gotoSellerCompanies()">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="row" layout-align="start center">
                <div class="product-image" hide-xs>
                    <!--<img ng-src="{{vm.product.images[0].url}}">-->
                </div>

                <div layout="column" layout-align="start start">
                    <div class="h2">
                        {{vm.product.name}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span> Company Categories</span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <md-button class="md-raised md-background" ng-click="vm.saveSellerCompany()" ng-disabled="!vm.isFormValid('productForm')">
                <span>SAVE</span>
            </md-button>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>Company Details</span>
                </md-tab-label>
                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <div ng-show="vm.recachedMaxCount">
                            <h1>{{vm.message}} </h1>
                            <div>
                                <md-button class="md-raised md-background" ng-click="vm.chagePackage()">
                                    <span>Change Package</span>
                                </md-button>
                            </div>
                        </div>
                        <form id="productForm" name="productForm" ng-show="!vm.recachedMaxCount">
                            <div layout="column" layout-gt-xs="row">
                                <md-input-container flex>
                                    <label>Company Category</label>
                                    <md-select ng-model="vm.formData.CompanyCategoryID" name="CompanyCategoryID" required>
                                        <md-option ng-repeat="role in vm.companyCategories track by $index" ng-value="role.$id">
                                            {{role.CategoryName}}
                                        </md-option>
                                    </md-select>

                                    <div ng-messages="productForm.CompanyCategoryID.$error" role="alert">
                                        <div ng-message="required">
                                            <span> Company Category field is required</span>
                                        </div>
                                    </div>
                                </md-input-container>

                                <md-input-container flex>
                                    <label>Name</label>
                                    <input type="text" ng-model="vm.formData.Name" name="Name" required>
                                    <div ng-messages="productForm.Name.$error" role="alert">
                                        <div ng-message="required">
                                            <span>Name field is required</span>
                                        </div>
                                    </div>


                                </md-input-container>
                            </div>
                            <div layout="column" layout-gt-sm="row">
                                <md-input-container flex>
                                    <label>Website</label>
                                    <input type="text" ng-model="vm.formData.Website" name="Website" required>
                                    <div ng-messages="productForm.Website.$error" role="alert">
                                        <div ng-message="required">
                                            <span>Website field is required</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Email</label>
                                    <input type="email" ng-model="vm.formData.Email" name="email" ng-pattern="/^.+@.+\..+$/" required>
                                    <div ng-messages="productForm.email.$error" role="alert">
                                        <div ng-message="required">
                                            <span>email field is required</span>
                                        </div>
                                        <div ng-message="pattern">
                                            <span >Email must be a valid e-mail address</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Telephone</label>
                                    <input type="number" ng-model="vm.formData.Telephone" name="Telephone" required>
                                    <div ng-messages="productForm.Telephone.$error" role="alert">
                                        <div ng-message="required">
                                            <span>Telephone field is required</span>
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="column" layout-gt-xs="row">
                                <md-input-container flex>
                                    <label>Description</label>
                                    <input type="text" ng-model="vm.formData.Description" name="Description" required>
                                    <div ng-messages="productForm.Description.$error" role="alert">
                                        <div ng-message="required">
                                            <span>Description field is required</span>
                                        </div>
                                    </div>
                                </md-input-container>

                            </div>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>