<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">
    <!-- CONTENT -->
    <div class="content">

        <!--<md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-body>
                   
                </md-tab-body>
            </md-tab>
        </md-tabs>-->

        <div md-theme="dark-grey" >

            <h2>Buyer Dashboard</h2>
            <md-content class="md-padding" layout-xs="column" layout="row">

                <div flex-xs flex-gt-xs="50" layout="column">
                    <md-card md-theme="dark-blue" md-theme-watch>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Purchase details</span>
                                <span class="md-subhead">Medium</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-md card-media"></div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>View</md-button>
                            <!--<md-button>Action 2</md-button>-->
                        </md-card-actions>
                    </md-card>
                </div>
                <div flex-xs flex-gt-xs="50" layout="column">
                    
                    <md-card md-theme="dark-blue" md-theme-watch>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Payment Details</span>
                                <span class="md-subhead">Medium</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-md card-media"></div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>View</md-button>
                            <!--<md-button>Action 2</md-button>-->
                        </md-card-actions>
                    </md-card>
                </div>

            </md-content>


        </div>

    </div>
    <!-- / CONTENT -->

</div>