<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Go to products" ng-click="vm.gotoProducts()" translate
                translate-attr-aria-label="EC.GO_TO_PRODUCTS">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="row" layout-align="start center">
                <div class="product-image" hide-xs>
                    <img ng-src="{{the_url}}">
                </div>

                <div layout="column" layout-align="start start">
                    <div class="h2">
                        {{vm.product.name}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span> Company Categories</span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <md-button class="md-raised md-background" ng-click="vm.saveCompanyCategory(vm.companyCategory)" ng-disabled="productForm.$invalid">
                <span>SAVE</span>
            </md-button>
            <!-- <md-button class="md-raised md-warn" ng-show="vm.editMode" ng-disabled="!vm.isFormValid('productForm')" ng-click="vm.showConfirm($event)">
                Remove
            </md-button> -->
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>Company Category</span>
                </md-tab-label>
                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        {{sellercompanies123.length}}
                        <table>
                            <thead>
                                <tr>
                                    <td>thing</td>
                                    <td>price</td>
                                    <td>amount</td>
                                </tr>
                            </thead>
                            <tbody ng-repeat="obj in sellercompanies123">
                                <tr ng-repeat="data in obj">
                                    <td>{{data.Name}}</td>
                                   
                                </tr>
                            </tbody>
                        </table>




                        <div>
                            <div ng-repeat="obj in sellercompanies123">
                                <div ng-repeat=" data in obj">
                                    data {{data}}
                                </div>
                            </div>
                        </div>

                        <form id="productForm" name="productForm" novalidate>
                            <div layout="column" layout-gt-xs="row">
                                <md-input-container flex>
                                    <label>Category Name</label>
                                    <input type="text" ng-model="vm.companyCategory.CategoryName" name="name" required>
                                </md-input-container>

                            </div>

                            <div layout="column" layout-gt-xs="row">
                                <md-input-container flex>
                                    <label>Category Description</label>
                                    <input type="text" ng-model="vm.companyCategory.CategoryDescription" name="dec" required>
                                </md-input-container>

                            </div>

                            <div layout="column" layout-gt-xs="row">
                                <input type="file" file-model="myFile" filelist-bind name="file" ng-required="true" />
                                <div class="product-image1" ng-show="imgAvailable" id="preview" hide-xs>
                                    <img ng-src="{{ the_url }}">
                                </div>
                                <!--<md-button class="md-raised md-background" ng-click="vm.uploadFile()" ng-disabled="!the_url">
                                    <span>Upload Image</span>
                                </md-button>-->
                            </div>
                        </form>



                    </div>
                </md-tab-body>
            </md-tab>



        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>