<div id="e-commerce-product" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Go to products" ng-click="vm.gotoProducts()" translate
                translate-attr-aria-label="EC.GO_TO_PRODUCTS">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
                </md-button>

                <div layout="row" layout-align="start center">
                    <div class="product-image" hide-xs>
                        <img ng-src="{{the_url}}">
                    </div>

                    <div layout="column" layout-align="start start">
                        <div class="h2">
                            {{vm.product.name}}
                        </div>
                        <div class="subtitle secondary-text">
                            <span> Company Categories</span>
                        </div>
                    </div>
                </div>
        </div>

        <div>
            <md-button class="md-raised md-background" ng-click="vm.saveCompanyCategory(vm.companyCategory)" ng-disabled="!vm.isFormValid('productForm')">
                <span>SAVE</span>
            </md-button>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span>Company Category</span>
                </md-tab-label>
                <md-tab-body>
                    <div class="product-detail-form-container md-background-bg md-whiteframe-1dp">
                        <form id="productForm" name="productForm">
                            <div layout="column" layout-gt-xs="row">
                                <md-input-container flex>
                                    <label>Category Name</label>
                                    <input type="text" ng-model="vm.companyCategory.CategoryName" required>
                                </md-input-container>

                            </div>

                            <div layout="column" layout-gt-xs="row">
                                <md-input-container flex>
                                    <label>Category Description</label>
                                    <input type="text" ng-model="vm.companyCategory.CategoryDescription" required>
                                </md-input-container>

                            </div>

                            <div layout="column" layout-gt-xs="row">
                                <input type="file" file-model="myFile" filelist-bind required />
                                <div class="product-image1" ng-show="imgAvailable" id="preview" hide-xs>
                                    <img ng-src="{{ the_url }}">
                                </div>
                                <!--<md-button class="md-raised md-background" ng-click="vm.uploadFile()" ng-disabled="!the_url">
                                    <span>Upload Image</span>
                                </md-button>-->
                            </div>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>



        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>